[run]
branch = True
source = aliyun-rocketmq-provider

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
    raise NotImplementedError
    pass
    raise
ignore_errors = True
omit =
    tests/*
